/*reset*/
html,button,input,select,textarea{ color:#222}html{ font-size:1em; line-height:1.4}::-moz-selection{ color:#fff; background:#eb0029; text-shadow:none}::selection{ color:#fff; background:#eb0029; text-shadow:none}hr{ display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0}audio,canvas,img,svg,video{ vertical-align:middle}fieldset{ border:0; margin:0; padding:0}textarea{ resize:vertical}.browsehappy{ margin:0.2em 0; background:#ccc; color:#000; padding:0.2em 0}
/*normalize*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);

html, body {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    font-family: 'Lusitana', serif;
    color: #bbb;
}

h2{
    font-style: italic;
    font-weight: normal;
    font-size: 3em;
    color: #eb0029;
    margin-bottom: 0;
}

header, section {
    display: table;
    height: 100%;
    width: 100%;
    padding: 3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    padding:0;
}

header.paint{
    display:block;
    overflow: hidden;
    cursor: url(../img/cursor.png),auto;
}

.logo {
    background-image: url(../img/logo.png);
    height: 84px;
    width: 350px;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -80px;
}
.isologo{
    background-image: url(../img/isologo.png);
    background-repeat: no-repeat;
    position: fixed;
    height: 61px;
    width: 100px;
    top: 25px;
    left: 25px;
    text-indent: -9999px;
    margin: 0;
}

/*pintura canvas*/
/*canvas,*/
#sketch{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
#sketch {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
#tmp_canvas{
    position:absolute;
    left:0px;
    right:0;
    bottom:0;
    top:0;
}

/* Video */

#video_background {
    bottom: 0px;
    right: 0px;
    min-width:100%;
    min-height:100%;
    max-height:4000%;
    max-width:1000%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    /*
    filter: hue-rotate(110deg) saturate(4);
    -webkit-filter: hue-rotate(110deg) saturate(4);
    -moz-filter: hue-rotate(110deg) saturate(4);
    -ms-filter: hue-rotate(110deg) saturate(4);
    -o-filter: hue-rotate(110deg) saturate(4);
    */
}
#pintura {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(255,0,0,.5);
}

.intro{
    background-color: #eb0029;
    background: url(../img/intro.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    padding: 3em;
}

.intro.vineyard{
    background-image: url(../img/intro-vineyard.jpg);
    background-attachment: fixed;
}

/* Menu */
nav.menu{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin: 0;
}
nav a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 5px;
    font-size: 12px;
}
nav.menu > a{
    width: 50%;
    display: block;
    margin: 0 25%;
    padding: 2em 0 1.3em;
    transition: all 2s;
}
nav.menu ul{
    background-color:#000;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    opacity: 0;
    height: 0;
    transition: all 1s;
}
nav.menu:hover ul {
    height: auto;
    opacity: 1;
}
nav.menu:hover > a, nav.wines:hover > a{
    opacity: 0;
    transition: all 0s;
}
nav.menu li a{
    width: 100%;
    float: left;
    padding: 1em 0;
    color:#fff;
    margin: 0;
}

/* Menu Wines*/
nav.wines{
    position: fixed;
    top: 50%;
    right: 0;
}
nav.wines > a{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: tb-rl;
    display: block;
    margin-right: -20px;
}
nav.wines ul{
    display: none;
    height: 248px;
    margin-top: -124px;
}
nav.wines:hover > ul {
    display: block;
}
nav.wines li a{
    width: 172px;
    height: 44px;
    display: block;
    text-indent: -999999px;
    margin-bottom: 7px;
    margin-right: -70px;
    float: right;
    transition: all 1s ease;
    opacity: .2;
}
nav.wines li a:hover{
    margin-right: -20px;
    opacity: 1;
}
nav.wines .euforia a {
    background-image: url(../img/wines/menu-bottle-euforia.png);
}

.col.col1-3.bottle{
    text-align: center;
}

img.bottle{
    max-width: 100%;
    max-height: 100%;
}

img.bottle-min{
    max-width: 40px;
    margin-right: 10px;
}

.bottles-line{
    margin-top: 2em;
}

/* Pop Up */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 800px;
  margin: 20px auto;
}
/* fin PopUp */

footer {
    background-color: #000;
    padding: 3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #666;
    font-style: italic;
}

footer ul {
    padding: 0;
    margin-top: .5em;
}

footer li {
    list-style: none;
}

footer h2 {
    font-size: 1.5em;
    color: #666;
    font-weight: bold;
    margin-top: 2em;
}

footer address + p{
    margin-top: 5em;
}

footer a{
    color: #666;
    text-decoration: none;
    font-weight: bold;
}

/*simulacion pintura*/
.pintar
{
    overflow: hidden;
    position: absolute;
    width:420px;
    height:280px;
    left:50%;
    top:50%;
    margin-left:-210px;
    margin-top:-170px;
}
@-webkit-keyframes pintar_anim {
    from {
        -webkit-transform: matrix(1, 0, 0, 1, 190.7, 138.6);
        opacity: 1;
    }
    2% {
        -webkit-transform: matrix(1, 0, 0, 1, 219.054, 151.851);
    }
    4% {
        -webkit-transform: matrix(1, 0, 0, 1, 246.208, 164.542);
    }
    6% {
        -webkit-transform: matrix(1, 0, 0, 1, 272.162, 176.671);
    }
    8% {
        -webkit-transform: matrix(1, 0, 0, 1, 296.915, 188.24);
    }
    10% {
        -webkit-transform: matrix(1, 0, 0, 1, 320.468, 199.248);
    }
    12% {
        -webkit-transform: matrix(1, 0, 0, 1, 342.82, 209.694);
    }
    14% {
        -webkit-transform: matrix(1, 0, 0, 1, 363.972, 219.58);
    }
    16% {
        -webkit-transform: matrix(1, 0, 0, 1, 383.924, 228.904);
    }
    18% {
        -webkit-transform: matrix(1, 0, 0, 1, 402.675, 237.667);
    }
    20% {
        -webkit-transform: matrix(1, 0, 0, 1, 420.226, 245.87);
    }
    22% {
        -webkit-transform: matrix(1, 0, 0, 1, 436.577, 253.512);
    }
    24% {
        -webkit-transform: matrix(1, 0, 0, 1, 451.727, 260.592);
    }
    26% {
        -webkit-transform: matrix(1, 0, 0, 1, 465.677, 267.111);
    }
    28% {
        -webkit-transform: matrix(1, 0, 0, 1, 478.426, 273.07);
    }
    30% {
        -webkit-transform: matrix(1, 0, 0, 1, 489.975, 278.467);
    }
    32% {
        -webkit-transform: matrix(1, 0, 0, 1, 500.324, 283.304);
    }
    34% {
        -webkit-transform: matrix(1, 0, 0, 1, 509.472, 287.58);
    }
    36% {
        -webkit-transform: matrix(1, 0, 0, 1, 517.42, 291.294);
    }
    38% {
        -webkit-transform: matrix(1, 0, 0, 1, 524.168, 294.447);
    }
    40% {
        -webkit-transform: matrix(1, 0, 0, 1, 529.715, 297.04);
    }
    42% {
        -webkit-transform: matrix(1, 0, 0, 1, 534.062, 299.072);
    }
    44% {
        -webkit-transform: matrix(1, 0, 0, 1, 537.208, 300.542);
    }
    46% {
        -webkit-transform: matrix(1, 0, 0, 1, 539.154, 301.452);
    }
    48% {
        -webkit-transform: matrix(1, 0, 0, 1, 539.9, 301.8);
    }
    48.01%, to {
        -webkit-transform: matrix(1, 0, 0, 1, 539.9, 301.8);
        opacity: 1;
    }
}
@keyframes pintar_anim {
    from {
        transform: matrix(1, 0, 0, 1, 190.7, 138.6);
        opacity: 1;
    }
    2% {
        transform: matrix(1, 0, 0, 1, 219.054, 151.851);
    }
    4% {
        transform: matrix(1, 0, 0, 1, 246.208, 164.542);
    }
    6% {
        transform: matrix(1, 0, 0, 1, 272.162, 176.671);
    }
    8% {
        transform: matrix(1, 0, 0, 1, 296.915, 188.24);
    }
    10% {
        transform: matrix(1, 0, 0, 1, 320.468, 199.248);
    }
    12% {
        transform: matrix(1, 0, 0, 1, 342.82, 209.694);
    }
    14% {
        transform: matrix(1, 0, 0, 1, 363.972, 219.58);
    }
    16% {
        transform: matrix(1, 0, 0, 1, 383.924, 228.904);
    }
    18% {
        transform: matrix(1, 0, 0, 1, 402.675, 237.667);
    }
    20% {
        transform: matrix(1, 0, 0, 1, 420.226, 245.87);
    }
    22% {
        transform: matrix(1, 0, 0, 1, 436.577, 253.512);
    }
    24% {
        transform: matrix(1, 0, 0, 1, 451.727, 260.592);
    }
    26% {
        transform: matrix(1, 0, 0, 1, 465.677, 267.111);
    }
    28% {
        transform: matrix(1, 0, 0, 1, 478.426, 273.07);
    }
    30% {
        transform: matrix(1, 0, 0, 1, 489.975, 278.467);
    }
    32% {
        transform: matrix(1, 0, 0, 1, 500.324, 283.304);
    }
    34% {
        transform: matrix(1, 0, 0, 1, 509.472, 287.58);
    }
    36% {
        transform: matrix(1, 0, 0, 1, 517.42, 291.294);
    }
    38% {
        transform: matrix(1, 0, 0, 1, 524.168, 294.447);
    }
    40% {
        transform: matrix(1, 0, 0, 1, 529.715, 297.04);
    }
    42% {
        transform: matrix(1, 0, 0, 1, 534.062, 299.072);
    }
    44% {
        transform: matrix(1, 0, 0, 1, 537.208, 300.542);
    }
    46% {
        transform: matrix(1, 0, 0, 1, 539.154, 301.452);
    }
    48% {
        transform: matrix(1, 0, 0, 1, 539.9, 301.8);
    }
    48.01%, to {
        transform: matrix(1, 0, 0, 1, 539.9, 301.8);
        opacity: 1;
    }
}
.trazo_mov_img
{
    position: absolute;
    -webkit-transform: matrix(1, 0, 0, 1, -323.5, -126.9);
    transform: matrix(1, 0, 0, 1, -323.5, -126.9);
}
.trazo_img
{
    -webkit-animation-duration: 1.625s;
    -webkit-transform: matrix(1, 0, 0, 1, -1.275, 54.103);

    animation-duration: 1.625s;
    transform: matrix(1, 0, 0, 1, -1.275, 54.103);
    position: absolute;
}
.trazo
{
    -webkit-animation-duration: 2.08333s;
    animation-duration: 2.08333s;
    opacity:0;
}
.trazo_mov
{   
    -webkit-animation-delay:2s;
    -webkit-animation-duration: 2.08333s;
    -webkit-animation-name: pintar_anim;
    -webkit-transform: matrix(1, 0, 0, 1, 539.9, 301.8);
    -webkit-transform-origin: 0px 0px;
    -webkit-animation-timing-function: linear;

    animation-delay:2s;
    animation-duration: 2.08333s;
    animation-name: pintar_anim;
    transform: matrix(1, 0, 0, 1, 539.9, 301.8);
    transform-origin: 0px 0px;
    animation-timing-function: linear;
}
@-webkit-keyframes desaparecer-anim {
    to {
        opacity: 0;
    }
}
@keyframes desaparecer-anim {
    to {
        opacity: 0;
    }
}
.apareccer{
    opacity:1;
}
.desaparecer{
    -webkit-animation: desaparecer-anim 1s linear normal;
    -webkit-animation-fill-mode: forwards;

    animation: desaparecer-anim 1s linear normal;
    animation-fill-mode: forwards;
}
/*estilos impresion*/
@media print{ *{ background:transparent !important; color:#000 !important; box-shadow:none !important; text-shadow:none !important} a, a:visited{ text-decoration:underline} a[href]:after{ content:"("attr(href) ")"} abbr[title]:after{ content:"("attr(title) ")"}  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{ content:""} pre, blockquote{ border:1px solid #999; page-break-inside:avoid} thead{ display:table-header-group} tr, img{ page-break-inside:avoid} img{ max-width:100% !important} @page{ margin:0.5cm} p, h2, h3{ orphans:3; widows:3} h2, h3{ page-break-after:avoid}}
